# Documentation for this file: https://EditorConfig.org

root = true

# Unix-style newlines ending every file,
# as some compilers complain about files not ending in newline
# Enforce consistent space indent style in source code
# and remove all trailing spaces
[*.{c,cc,cpp,h,hpp,pl,py,yml,rst}]
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
