/cfg/
/bin/
/lib/
/db/
/dbd/
/html/
_build/
/docs/doxygenHTML/
/docs/source/_extra
/docs/_docs/
/include/
/templates/
/configure/*.local
*~
O.*/
*.swp
*_BAK.adl
/QtC-*
cdCommands
envPaths
dllPath.bat
